.google-cookie
__pycache__/google1.cpython-311.pyc
__pycache__/gpt_client.cpython-311.pyc
__pycache__/scrapper.cpython-311.pyc
__pycache__/websearch.cpython-311.pyc
__pycache__/*
*.csv
oai.py
main-mine.py
websearch copy.py
plotting.py
sbc.py
*.pyc
